@use 'variables';
@use 'mixins';

//En esta zona pondremoms el fondo oscuro para nuestros modal navbar
.modal-navbar{
    &__background{
        @include mixins.modal-background;
    }
    background-color: variables.$White;
    width: 250px;
    height: 100%;
    padding: 28px 24px;
    display: none; //este display none oculta el modal navbar que sale en el diseño responsive de celular

    &__items{
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        list-style: none;
        margin-top: 50px;
    }
    &__link{
        text-decoration: none;
        color: variables.$Very-dark-blue;
        font-weight: 700;
        font-size: 1.1em;

    }
    &__close-icon{
        &:hover{
            cursor: pointer};
        }
    }
